In [2]:
"""
input: A set of n items, with a binary protected attribute p0,p1 ∈
P, a rank ρ.
2: output: an alternative P-Fair rank ρ∗, where the Kendall Tau
distance is minimized.
3: ρ∗ = ∅
4: Get the ranks ρ0, ρ1 for each group of P from ρ.
5: Urдent = ∅
6: while ρ0, ρ1 are not all empty do
7: if Urдent is empty then
8: ρ∗ ∪ {min{ρ0(1), ρ1(1)}}
9: else
10: ρ∗∪ Urдent (1)
11: end if
12: ρ0 = ρ0 \ ρ∗
13: ρ1 = ρ1 \ ρ∗
14: Update Urдent
15: end while
16: return ρ∗
"""

'\ninput: A set of n items, with a binary protected attribute p0,p1 ∈\nP, a rank ρ.\n2: output: an alternative P-Fair rank ρ∗, where the Kendall Tau\ndistance is minimized.\n3: ρ∗ = ∅\n4: Get the ranks ρ0, ρ1 for each group of P from ρ.\n5: Urдent = ∅\n6: while ρ0, ρ1 are not all empty do\n7: if Urдent is empty then\n8: ρ∗ ∪ {min{ρ0(1), ρ1(1)}}\n9: else\n10: ρ∗∪ Urдent (1)\n11: end if\n12: ρ0 = ρ0 \\ ρ∗\n13: ρ1 = ρ1 \\ ρ∗\n14: Update Urдent\n15: end while\n16: return ρ∗\n'

In [2]:
import pandas as pd

object = pd.read_pickle(r'data/top25_dfs.pickle')

In [16]:
data = object[1]
num_of_player = 30
data = data[0:num_of_player]
data = data.transpose()
players = data.keys()
len(data)
data

,Adam Thielen,Mike Evans,JuJu Smith-Schuster,Albert Wilson,Odell Beckham Jr.,Jarvis Landry,Courtland Sutton,Mohamed Sanu,Emmanuel Sanders,Tyler Boyd,...,Tyrell Williams,Dante Pettis,DeSean Jackson,Cooper Kupp,Alshon Jeffery,Julian Edelman,Josh Gordon,Donte Moncrief,Stefon Diggs,Brandin Cooks
Rank1,10,5,7,52,3,40,47,56,44,18,...,37,32,38,23,22,16,29,46,20,14
Rank2,9,4,8,52,2,34,40,56,46,19,...,37,32,39,18,25,13,23,48,29,12
Rank3,9,4,8,52,2,34,40,56,45,18,...,33,32,39,20,28,13,24,48,19,12
Rank4,9,7,6,52,5,32,43,55,42,16,...,37,33,39,19,24,13,23,46,21,12
Rank5,9,4,8,53,2,34,45,56,42,18,...,38,32,39,20,25,14,23,49,19,12
Rank6,8,1,6,52,2,32,43,57,42,21,...,39,31,38,18,22,16,24,50,19,13
Rank7,4,7,9,59,1,31,43,56,42,17,...,41,37,44,14,21,12,32,54,19,18
Rank8,9,4,6,52,5,35,45,55,50,20,...,40,30,38,18,21,16,24,48,22,13
Rank9,8,4,6,53,2,33,43,55,48,19,...,34,35,37,20,21,16,23,49,13,12
Rank10,12,4,8,55,2,34,40,56,49,21,...,39,35,32,27,20,15,17,50,19,13
Rank11,10,4,6,54,5,30,39,48,40,21,...,38,35,43,18,20,13,32,47,26,17
Rank12,9,2,8,52,4,34,43,56,42,21,...,39,30,38,18,20,16,24,50,19,13
Rank13,15,7,5,52,1,29,37,58,53,19,...,40,50,42,17,25,14,22,47,16,9
Rank14,9,4,7,52,3,34,41,55,45,19,...,38,35,39,18,23,13,26,47,20,12
Rank15,12,4,6,46,2,36,44,57,50,17,...,45,33,35,24,21,16,23,55,27,18
Rank16,12,5,8,48,6,29,41,53,37,16,...,30,34,44,22,21,15,23,40,19,14
Rank17,9,6,5,63,3,31,40,54,51,25,...,53,30,38,22,23,17,28,45,11,14
Rank18,12,8,3,54,4,37,34,51,40,19,...,36,25,42,23,31,16,29,48,18,13
Rank19,11,2,8,58,5,36,41,55,54,17,...,30,32,38,19,28,16,34,48,22,15
Rank20,8,4,7,51,5,37,39,55,46,21,...,32,38,43,22,25,17,27,47,10,15
Rank21,9,4,8,50,2,34,44,56,42,18,...,39,32,38,20,25,14,23,47,19,12
Rank22,9,4,8,47,5,32,45,55,50,19,...,34,36,39,20,25,13,24,49,17,12
Rank23,10,9,7,48,5,33,43,64,42,19,...,32,34,40,18,25,14,31,46,26,13
Rank24,12,4,8,51,2,40,54,56,49,16,...,37,35,44,17,26,9,24,42,22,13
Rank,9,4,3,51,8,33,38,55,50,18,...,30,35,43,20,26,19,25,42,10,12
Division,1,1,0,0,0,0,0,0,1,0,...,0,1,1,1,1,0,0,0,0,0

In [17]:
itemList = data.keys()

In [18]:
G1 = []
G2 = []
row = data.iloc[25, :]
for i in range(0,num_of_player):
    if(row[i] == 0):
        G1.append(players[i])
    else:
        G2.append(players[i])

In [19]:
len(itemList)

30

In [20]:
row

Adam Thielen           1
Mike Evans             1
JuJu Smith-Schuster    0
Albert Wilson          0
Odell Beckham Jr.      0
Jarvis Landry          0
Courtland Sutton       0
Mohamed Sanu           0
Emmanuel Sanders       1
Tyler Boyd             0
Amari Cooper           1
Robert Woods           1
Michael Thomas         1
Marvin Jones           1
Anthony Miller         1
John Brown             0
Tyreek Hill            0
Julio Jones            1
Tre'Quan Smith         1
DeAndre Hopkins        1
Tyrell Williams        0
Dante Pettis           1
DeSean Jackson         1
Cooper Kupp            1
Alshon Jeffery         1
Julian Edelman         0
Josh Gordon            0
Donte Moncrief         0
Stefon Diggs           0
Brandin Cooks          0
Name: Division, dtype: int64

In [21]:
p1 = len(G1)/len(itemList)
p2 = len(G2)/len(itemList)

In [41]:
rank = data.iloc[1, :]

In [42]:
ranktup = []
j = 0
for i in rank:
    ranktup.append((i,j))
    j = j + 1
ranktup.sort()
rank = []

for i,j in ranktup:
    rank.append(j)

In [43]:
rank

[19,
 4,
 12,
 1,
 17,
 16,
 2,
 0,
 29,
 25,
 10,
 11,
 23,
 9,
 26,
 24,
 13,
 28,
 21,
 5,
 20,
 22,
 6,
 15,
 8,
 27,
 14,
 3,
 18,
 7]

In [539]:
tup = []
for i in range(0,len(rank)):
    tup.append((rank[i],i))

In [540]:
tup.sort()

In [541]:
rank = []
for i,j in tup:
    rank.append(j)

In [549]:
group = row

group

In [543]:
rank

[4, 1, 2, 0, 9, 5, 6, 8, 3, 7]

In [547]:

def GrBinaryIPF(rank,group):
    Rho0 = []
    Rho1 = []
    for i in rank:
        if group[i] == 1:
            Rho0.append(i)
        else:
            Rho1.append(i)

    j = 1
    rankDic = {}
    for itm in rank:
        rankDic[itm] = j
        j = j + 1

    urgent = []
    Rout = []
    P1count = 0
    P0count = 0

    Fp0 = len(Rho0)/len(rank)
    Fp1 = len(Rho1)/len(rank)

    i = 1
    while len(Rho0) != 0 or len(Rho1) != 0:
        print(Rout)
        if P1count >= len(Rho1):
            Rout.extend(Rho0[P0count:len(Rho0)])
            return Rout
        if P1count >= len(Rho0):
            Rout.extend(Rho1[P1count:len(Rho1)])
            return Rout

        if len(urgent) == 0:
            if rankDic[Rho1[P1count]] < rankDic[Rho0[P0count]]:
                Rout.append(Rho1[P1count])
                P1count = P1count + 1
            else:
                Rout.append(Rho0[P0count])
                P0count = P0count + 1
        else:
            if urgent[0] == 'P1':
                Rout.append(Rho1[P1count])
                P1count = P1count + 1
            else:
                Rout.append(Rho0[P0count])
                P0count = P0count + 1
            urgent = []
        # update urgent
        if Fp1 * (i + 1) - P1count >= 1:
            urgent.append('P1')

        if Fp0 * (i + 1) - P0count >= 1:
            urgent.append('P0')
        i = i + 1
        #print(i)
    return  Rout

In [548]:
Rout = GrBinaryIPF(rank,group)

[]
[4]
[4, 1]
[4, 1, 2]
[4, 1, 2, 0]
[4, 1, 2, 0, 9]

In [546]:
print(Rout)

[4, 1, 2, 0, 9, 5, 6, 3, 7]